form {
    width: 300px;
}
body {
    margin: 0;
    background: rgb(0, 199, 146);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header {
    text-align: right;
}
header button {
    width: auto;
}
button{
    cursor: pointer;
    margin-bottom: 10px;
}
button:active {
    opacity: 0.7;
}
button[disabled] {
    opacity: 0.6;
}
input, button, select {
    padding: 5px;
    width: -webkit-fill-available;
}
button.fab {
    width: 54px;
    height: 54px;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    box-shadow: 2px 2px 2px gray; 
    
}
button.fab.fixed {
    position: fixed;
}
button.fab.bottom {
    bottom: 32px;
}
button.fab.right {
    right: 32px;
}
.clear {
    background: transparent;
    border: none;
}
.solid {
    background: white;
    border: none;
}
.outline {
    background: transparent;
    border: 1px solid white;
}
.error {
    color: red;
    display: none;
}
.loading {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}
.loading label {
    font-size: 24px;
}
.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-field {
    margin-bottom: 10px;
}
.outline.danger {
    color: red;
    border-color: red;
} 